body {
    font-family: sans-serif;
}

button {
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 24px;
    background: #004177;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #005091;
    transition: background .2s ease-in-out;
}

ul {
    margin-bottom: 30px;
}
li {
    margin-bottom: 10px;
}
